[Desktop Entry]
Version=1.0
Type=Application
Name=QuBitcoin Wallet
Exec=./KomodoWallet
Icon=./KomodoWallet.svg
Categories=Office;Finance;
Terminal=false
StartupNotify=true